#cssPositioningContainer{
    width: 100vw;
    height: 100vh;
    background-color: rgb(204, 204, 204);

    .position{
        width: 10rem;
        height: 10rem;
        background-color: rgb(160, 160, 228);
    }
}